.example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .example-icon {
    background-color: whitesmoke;
  }

  